{
	"sics": {
		"host": "localhost",
		"port": 60002,
		"login": "spy",
		"password": "007"
	},
	
	"dae": {
		"host": "localhost",
		"port": 60030,
		"login": "Gumtree",
		"password": "Gumtree"
	},
	
	"rest": {
		"port": 8080
	},
	
	"ws": {
		"url": "http://neutron.ansto.gov.au/WebServices/WebServiceAppServiceSoapHttpPort"
	},
	
	"web": {
		"web_root": "web",
		"index_page": "index.html",
		"host": "localhost",
		"port": 8081
	},
	
	"crash": {
		"crash.auth": "simple",
    	"crash.auth.simple.username": "admin",
    	"crash.auth.simple.password": "admin",
    	"crash.ssh.port": "8082"
	},
	
	"websocket": {
		"port": 8083
	}
}