{
	"sics": {
		"host": "localhost",
		"port": 60002,
		"login": "spy",
		"password": "007"
	},
	
	"dae": {
		"host": "localhost",
		"port": 60030,
		"login": "spy",
		"password": "007"
	},
	
	"rest": {
		"port": 8080
	},
	
	"web": {
		"web_root": "web",
		"index_page": "index.html",
		"host": "localhost",
		"port": 8081
	}
}